body {
    margin-top: 15%;
    background-color: #f2f2f2;
}

.add-button-div {
    padding-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-bottom: 1px solid #949494;
    border-right: 1px solid #949494;
    background-color: white;
}

thead tr th {
    border: 1px solid #949494;
}

tbody tr td:not(:last-child) {
    border-left: 1px solid #949494;
    border-right: 1px solid #949494;
}